/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css2?family=Poiret+One&display=swap";

body{
  margin: 0;
  background-color: gainsboro;
  font-family: 'Poiret One', cursive;
}
